 @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.titulo1{
    background-color: blueviolet;
    font-size: 2rem;
    color: black;
    justify-content: center;
    font-family: 'Unica One', cursive;
}
.titulo2{
    font-family: 'Unica One', cursive;
}
.titulo3{
    font-family: 'Gochi Hand', cursive;
}
.contenedor{
    display: flex;
    justify-content: center;
}
button{
    background-color: transparent;
    color: azure;
    font-family: 'Gochi Hand', cursive;
}
button:hover{
    background-color: black;
}
body{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
display: flex;
justify-content: center;
flex-direction: column;
align-items ;
}